<div class="details-conatiner">
  <div class="clm-1">
    <mat-card class="basic-info">
      <div class="profile">
        <div class="profile-img">
          <img [src]="'../../../../assets/images/pro.webp'" alt="" srcset="" />
        </div>
        <h4 class="profile-name">Alex</h4>
        <p class="profile-data">Jr.Software Developer, DB0065</p>
      </div>
      <div>
        <mat-icon class="data-icon">mail_outline</mat-icon>
        <p class="data">Email</p>
        <mat-icon class="data-icon">device_hub</mat-icon>
        <p class="data">designation</p>
        <mat-icon class="data-icon">perm_identity</mat-icon>
        <p class="data">gender</p>
        <mat-icon class="data-icon">calendar_today</mat-icon>
        <p class="data">DOJ</p>
        <mat-icon class="data-icon">place</mat-icon>
        <p class="data">location</p>
      </div>
      <div>
        <h4 style="text-align: center">OTHER DETAILS</h4>
        <div class="emp-details">
          <p class="other-details-heading">Aadhar Card Details </p>
          <mat-icon (click)="openImg()">image</mat-icon>
        </div>
        <div class="emp-details">
          <p class="other-details-heading">Pan Card Number</p>
          <mat-icon (click)="openImg()">image</mat-icon>
        </div>
        <div class="emp-details">
          <p class="other-details-heading">Passport details</p>
          <mat-icon (click)="openImg()">image</mat-icon>
        </div>
      </div>
      <div>
        <div class="emp-details">
          <p class="other-details-heading">Created by    </p>
          <p class="datas">Admin name</p>
        </div>
        <div class="emp-details">
          <p class="other-details-heading">Created At   </p>
          <p class="datas">DATE TIME</p>
        </div>
      </div>
    </mat-card>
  </div>



  <div class="clm-2">
    <mat-card class="all-details">
      <div class="heading">
        <h5>Personal Information</h5>
        <div class="personal-info">
          <div>
            <p class="other-details-heading">First name</p>
            <p class="datas">{{ personalInfo.fname }}</p>
          </div>
          <div>
            <p class="other-details-heading">Last name</p>
            <p class="datas">{{ personalInfo.lname }}</p>
          </div>
          <div>
            <p class="other-details-heading">DOB</p>
            <p class="datas">{{ personalInfo.dob }}</p>
          </div>
          <div>
            <p class="other-details-heading">Mobile Number</p>
            <p class="datas">{{ personalInfo.mobNo }}</p>
          </div>
          <div>
            <p class="other-details-heading">Alternate Number</p>
            <p class="datas">{{ personalInfo.alternateNo }}</p>
          </div>
          <div>
            <p class="other-details-heading">Email</p>
            <p class="datas">{{ personalInfo.personalEmail }}</p>
          </div>
        </div>
      </div>
      <div class="heading">
        <h5>Address</h5>
        <div class="personal-info">
          <div>
            <p class="other-details-heading">Current Address</p>
            <p class="datas">{{ address.currentAdd }}</p>
          </div>
          <div>
            <p class="other-details-heading">Permanent Address</p>
            <p class="datas">{{ address.currentAdd }}</p>
          </div>
        </div>
      </div>
      <div class="heading">
        <h5>Educational details</h5>
        <div class="personal-info">
          <div>
            <p class="other-details-heading">10th</p>
            <div class="emp-details">
              <p class="other-details-heading">Board:</p>
              <p class="datas">KSSLC</p>
            </div>

            <div class="emp-details">
              <p class="other-details-heading">End Date:</p>
              <p class="datas">2020-09-01</p>
            </div>
            <div class="emp-details">
              <p class="other-details-heading">Marks:</p>
              <p class="datas">65%</p>
            </div>
          </div>
        </div>
        <button mat-button class="button-gradient files-uploaded" (click)="openDialog()">
          files uploaded
        </button>
      </div>
      <div class="heading">
        <h5>Employment details</h5>
        <div class="personal-info" *ngFor="let data of emp; index as i">
          <div class="emp-details">
            <p class="other-details-heading">Organization Name:</p>
            <p class="datas">{{ emp[i].name }}</p>
          </div>
          <div class="emp-details">
            <p class="other-details-heading">Joining date:</p>
            <p class="datas">{{ emp[i].join }}</p>
          </div>
          <div class="emp-details">
            <p class="other-details-heading">Notice Date:</p>
            <p class="datas">{{ emp[i].notice }}</p>
          </div>
        </div>
        <button mat-button class="button-gradient files-uploaded">
          files uploaded
        </button>
      </div>
    </mat-card>
  </div>
  <div class="modal" [ngStyle]="{ display: display }">
    <mat-icon class="close" (click)="closeImg()">close</mat-icon>
    <img class="modal-img" [src]="img" />
  </div>
</div>
