.layoutFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnStyle{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}