<mat-card [ngStyle]="{ marginBottom: '10px' }">
  <!-- Form -->
  <!-- Personal Info -->
  <h1>Personal Information</h1>
  <div class="layoutFlex">
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>FirstName</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>LastName</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>DOB</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Gender</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Age</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Mobile No</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Alternate Mobile No</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Personal Email ID</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>

  <!-- Permanent Address -->
  <h1>Permanent Address</h1>
  <div class="layoutFlex">
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>House No :</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Street/Area Name </mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Locality</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>City</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Picode</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>
  <!-- Current Address -->
  <h1>Current Address</h1>
  <div class="layoutFlex">
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>House No :</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Street/Area Name </mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Locality</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>City</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Picode</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>

  <!-- save -->
  <div class="btnStyle">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </div>
</mat-card>
