<mat-card [ngStyle]="{ marginBottom: '10px' }">
  <!-- Form -->

  <!-- Current Address -->

  <div class="otherDetails">
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Aadhar Card</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>PAN Card</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Passport Details</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Covid Certificate</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
  </div>

  <!-- save -->
  <div class="btnStyle">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </div>
</mat-card>
