<h1 mat-dialog-title>Add Education</h1>
<div>
  <form [formGroup]="dialogUGForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
       <mat-label for="education">Education</mat-label>
       <input matInput type="text" id="education" name="education" formControlName="education" readonly="true" />
     </mat-form-field>
     <mat-form-field appearance="outline">
       <mat-label for="course">Course</mat-label>
       <input matInput type="text"  id="course" name="course" formControlName="course">
     </mat-form-field>
     <mat-form-field appearance="outline">
       <mat-label for="specialization">Specialization</mat-label>
       <input matInput type="text" id="specialization" name="specialization" formControlName="specialization" />
     </mat-form-field>
     <mat-form-field appearance="outline">
      <mat-label for="university">University</mat-label>
      <input matInput type="text" id="university" name="university" formControlName="university" />
    </mat-form-field>

     <mat-form-field appearance="outline">
       <mat-label for="percentage">Percentage/CGPA</mat-label>
       <input matInput type="text"  id="percentage" name="percentage" formControlName="percentage"/>
     </mat-form-field>


     <mat-form-field appearance="outline">
       <mat-label for="startDate">Start Date</mat-label>
       <input matInput [matDatepicker]="picker1" id="startDate" name="startDate" formControlName="startDate"/>
       <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
       <mat-datepicker #picker1></mat-datepicker>
     </mat-form-field>
   
     <mat-form-field appearance="outline">
       <mat-label for="endDate">End Date</mat-label>
       <input matInput [matDatepicker]="picker2" id="endDate" name="endDate" formControlName="endDate"/>
       <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
       <mat-datepicker #picker2></mat-datepicker>
     </mat-form-field>
   
    <div class="uploadContainer">
       <label for="marksheet">Upload Marksheet</label>
       <input type="file" id="marksheet" name="marksheet" formControlName="marksheet" multiple>
    </div>
   
    <div class="uploadContainer">
     <label for="transferCertificate">Transfer Certificate</label>
     <input type="file" id="transferCertificate" name="transferCertificate" formControlName="transferCertificate">
  </div>
    <div class="uploadContainer">
     <label for="provisionalCertificate">Transfer Certificate</label>
     <input type="file" id="provisionalCertificate" name="provisionalCertificate" formControlName="provisionalCertificate">
  </div>
    <div class="uploadContainer">
     <label for="convocationCertificate">Transfer Certificate</label>
     <input type="file" id="convocationCertificate" name="convocationCertificate" formControlName="convocationCertificate">
  </div>

  <button type="submit" [disabled]="!dialogUGForm.valid">Submit</button>
  </form>
</div>

<div mat-dialog-action [align]="'end'" class="btn-grp">
  <button mat-button class="btn-primary" mat-dialog-close="true">Close</button>
  <button mat-button class="btn-primary">Save</button>
</div>
