<mat-card [ngStyle]="{ marginBottom: '10px' }">
  <!-- Form -->

  <!-- Current Address -->
  <div class="container">
    <h1>Declaration Form</h1>

     <!-- <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Joining Date</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>  -->

     <!-- <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Upload</mat-label>
    </mat-form-field> -->

    <!-- <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Place</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>
    <mat-form-field appearance="outline" [ngStyle]="{ width: '100%' }">
      <mat-label>Date</mat-label> -->
<!--   
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
   
    </mat-form-field>  -->

    <p>
      I hereby declare that all the information provided above is true to the
      best of my knowledge. I hereby declare that the information furnished
      above is true to the best of my knowledge. I take full liability for the
      correctness of the information.
    </p>
    <!-- save -->
    <div class="btnStyle">
      <button mat-raised-button color="primary">Submit</button>
    </div>
  </div>
</mat-card>
