<div class ="content">
    <div class= "left-content">
        <p>WELCOME TP DIGGIBYTE</p>
        <h1>Upload Instruction</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam fuga, reprehenderit aspernatur consectetur explicabo deleniti veniam ut aliquid, at repellendus adipisci maiores, in eaque! Aliquid cupiditate eum provident esse itaque.</p>
        <button>proceed</button>
    </div>
    <div class="right-content">
        <img src="../../../assets/images/undraw_Video_influencer_re_ili7.png" alt="Welcome images" srcset="">
    </div>
</div >