<div class="container">
    <span class="register-heading">Register Admin </span>
  <form>
    <div class="form-background">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Full Name</mat-label>
          <input matInput placeholder="Enter Full Name" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email ID</mat-label>
          <input matInput placeholder="Enter Email" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Enter Phone Number" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Designation</mat-label>
          <input matInput placeholder="Enter Designation" />
        </mat-form-field>
      </p>
      <p>
        <button mat-button class="button-gradient" (click)="register($event)" >Register Admin</button>
      </p>
    </div>
  </form>
</div>
