@import url("../../../../styles.css");
* {
  box-sizing: border-box;
}
.container {
  position: relative;
}
.form-background {
  width: 70%;
  margin-top: 2%;
  margin-left: 20%;
  background-color: rgba(196, 196, 196, 0.13);
  padding: 1.563rem 2.13rem;
  border-radius: 1%;
  margin-bottom: 4rem;
}
mat-form-field {
  width: 22.875rem;
  font-weight: 500;
}
.reg-form {
  width: 100%;
}
.register-heading {
  margin-left: 40%;
  color: #014868;
  font-size: 1.563rem;
  line-height: 2.5;
}
.form-background p {
  padding: 0;
}
/* --------------------------------- */
@media (max-width: 116.6em) {
  .register-heading {
    margin-left: 35%;
  }
  .form-background {
    width: 50%;
    text-align: center;
  }
  .reg-form {
    margin-left: 15%;
  }
}
@media (max-width: 75em) {
  .reg-form {
    margin-left: 12%;
  }
}
@media (max-width: 69em) {
  .reg-form {
    margin-left: 1%;
  }
  mat-form-field {
    width: 15rem;
    font-weight: 0;
  }
  .button-gradient {
    width: 15rem;
  }
}
@media (max-width: 56.25em) {
  .form-background {
    width: 70%;
  }
  .reg-form {
    margin-left: 0.5%;
  }
}

@media (max-width:26.25em){
  .form-background{
    width: 80%;
    margin-left: 10%;
    text-align: start;
  }
 
  mat-form-field {
    font-size: .5rem;
    width: 12rem;
    
  }
  .button-gradient {
    width: 12rem;
  
  }
  .register-heading {
    margin-left: 30%;
    font-size: 1rem;
  }

}
