<div class="container">
  <h1>Education qualification</h1>
  <mat-form-field appearance="outline">
    <mat-select>
      <mat-option
        *ngFor="let education of educations; index as i"
        [value]="education"
        (click)="openDialog(i)"
      >
        {{ education }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <!-- Dispplay Section -->
  <div class="10th" hidden><app-dialog></app-dialog></div>
  <div class="12th" hidden><app-dialog12></app-dialog12></div>
  <div class="UG" hidden><app-dialog-ug></app-dialog-ug></div>
  <div class="PG" hidden><app-dialog-pg></app-dialog-pg></div>
  <!-- Navigation Button -->


  <div class="btn">
    <div class="btn-back">
      <button
        mat-button
        class="btn-primary"
        routerLink="personal-information"
        (click)="back()"
      >
        Back
      </button>
    </div>
    <div class="btn-grp">
      <button mat-button class="btn-primary">Save</button>
      <button mat-button class="btn-primary" (click)="next()">Next</button>
    </div>
  </div>
</div>
