<mat-toolbar>
  <img
    src="../../../assets/images/full_logo.png"
    width="200px"
    height="50px"
    alt="diggtibyte_logo"
  />
  <fa-icon [icon]="faUserCircle"></fa-icon>
</mat-toolbar>
<div class="container">
  <div class="text">
    <h1>Welocome to diggibyte</h1>
    <h2>upload instructions</h2>
    <ul>
      <li>
        Step 1 :Using the ‘Upload Files’ section below, choose the document you
        are uploading in the ‘Choose document’ drop down menu.
      </li>
      <li>Step 2 :Select browse, and locate the file on your local computer</li>
      <li>Step 3 :Select browse, and locate the file on your local computer</li>
      <li>Step 4 :Select browse, and locate the file on your local computer</li>
      <li>Step 5 :Select browse, and locate the file on your local computer</li>
    </ul>
    <button mat-raised-button class="btn-primary" routerLink="details">
      Proceed&nbsp;<fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </div>
  <div>
    <img
      src="../../../../assets/images/welcome.svg"
      alt="welcome image"
      width="512"
      height="512"
      class="imagewidth"
    />
  </div>
</div>
