* {
  box-sizing: border-box;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  height: calc(100vh-4);
  margin-top: 50px;
  background-image: url();
}

h1 {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #014868;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3d4143;
}

.mat-raised-button{
  margin: 15px 0px 0px 0px;
}


@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imagewidth{
    width: 312px;
    height: 280px;
  }
  h2{
    font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3d4143;
  }
}

ul{
  list-style: none;
  padding: 0px;
}

