<mat-toolbar>
  <img
    src="../../../assets//images/diggtibyte_logo.png"
    width="70px"
    height="70px"
    alt="diggtibyte_logo"
  />
  <fa-icon [icon]="faUserCircle"></fa-icon>
</mat-toolbar>
<div class="landing-content">
  <div class="landing-content-left">
    <h4>welocome to diggibyte</h4>
    <h1>upload instructions</h1>
    <ul>
      <li>Step1</li>
      <li>Step2</li>
      <li>Step3</li>
      <li>Step4</li>
      <li>Step5</li>
      <li>Step6</li>
      <li>Step7</li>
    </ul>
    <button mat-raised-button class="btn-primary" routerLink="details">
      Proceed<fa-icon [icon]="faAngleRight"></fa-icon>
    </button>
  </div>
  <div class="landing-content-right">
   <img src="../../../../assets/images/welcome.png" alt="" width="512" height="512">
  </div>
</div>
