<app-header></app-header>
<p>landing-page works!</p>

<nav>
  <ul>
    <li><a routerLink="personal-information">personal-information</a></li>
    <li>
      <a routerLink="educational-qualification">educational-qualification</a>
    </li>
    <li><a routerLink="employment-details">employment-details</a></li>
    <li><a routerLink="other-details">other-details</a></li>
    <li><a routerLink="decalartion">decalartion</a></li>
  </ul>
</nav>

<!-- For rendering the respective components -->
<router-outlet></router-outlet>
