<mat-card [ngStyle]="{'marginBottom':'10px'}">
    <!-- Form -->

      <!-- Current Address -->
      <h1>10th</h1>
     <div class="sslc">
        <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>Start Date</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
        
          <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>End Date</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
            
          <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>Upload File</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
     </div>
     
     <h1>12th</h1>
     <div class="puc">
        <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>Start Date</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
        
          <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>End Date</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
            
          <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>Upload File</mat-label>
          <!-- #docregion toggle -->
            <input matInput >
           
          <!-- #enddocregion toggle -->
          </mat-form-field>
     </div>

     <h1>UG</h1>
     <div class="ug">
        <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>Start Date</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
        
          <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>End Date</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
            
          <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>Upload File</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
     </div>

     <h1>PG</h1>
     <div class="pg">
        <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>Start Date</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
        
          <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>End Date</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
            
          <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
            <mat-label>Upload File</mat-label>
          <!-- #docregion toggle -->
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <!-- #enddocregion toggle -->
          </mat-form-field>
     </div>
    
     <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
        <mat-label>Transfer Certificate</mat-label>
      <!-- #docregion toggle -->
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      <!-- #enddocregion toggle -->
      </mat-form-field>
    
      <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
        <mat-label>Provisional Markscard</mat-label>
      <!-- #docregion toggle -->
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      <!-- #enddocregion toggle -->
      </mat-form-field>
        
      <mat-form-field appearance="outline" [ngStyle]="{'width':'100%'}" >
        <mat-label>Convocation Certificate</mat-label>
      <!-- #docregion toggle -->
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      <!-- #enddocregion toggle -->
      </mat-form-field>
   
    
    <!-- save -->
    <div class="btnStyle">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
    </mat-card>
    
    